---
layout: default
---
<!-- page.html -->
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-description">{{ page.description }}</p>
  </header>

  {% if page.embed_pdf %}
  <object
    data="{{ '/assets/pdf/'page.embed_pdf | relatvie_url }}#toolbar=0&amp;navpanes=0&amp;scrollbar=0&amp;page=1&amp;view=FitH"
    type="application/pdf" width="100%" height="100%">
    <p>It appears you don't have a PDF plugin for this browser.
      No biggie... you can <a href="{{ '/assets/pdf/'page.embed_pdf | relatvie_url }}">click here to
        download the PDF file.</a></p>
  </object>
  {% else %}
  <article>
    {{ content }}
  </article>
  {% endif %}

  {%- if page.related_publications != null and page.related_publications.size > 0 -%}
  {% assign publications = page.related_publications | replace: ", ", "," | split: "," | join: "|" %}
  <h2>References</h2>
  <div class="publications">
    {% bibliography -f {{ site.scholar.bibliography }} -q @*[key^={{ publications }}]* %}
  </div>
  {%- endif %}

  {%- if site.giscus.repo and page.giscus_comments -%}
  {% include giscus.html %}
  {%- endif -%}
</div>